/Lista 4/nbproject/private/
/Lista4/nbproject/private/
/Lista4/build/
/Trabalho/nbproject/private/
/Trabalho/build/
/Trabalho_1/nbproject/private/
/Trabalho_1/build/
/Lista5/nbproject/private/
/Lista5/build/
/Prova/nbproject/private/
/Prova/build/